<!-- bottom_nav.ejs
CarPooling Web App
Project by Team CodEureka
Silviya Velani, Student Id: 301167163
Divya Nair, Student Id: 301169854 
Jashan Preet Singh, Student ID: 301170664
Surya Teja Kandru, Student Id: 301109137 
Aritra Roy, Student ID: 301176508 
Copyright © 2021 Centennial College. All rights reserved. -->

  <footer>
    <nav class="navbar navbar-light bg-light">
      <h6 class="display-6 navbar-text">CodEureka, 2021 &copy;. All Rights reserved.</h6>
    </nav>
  </footer>