<!-- Bottom Nav -->
<!-- Student Id: 301109137
Author: Surya Teja Kandru
COMP229 -->

  <footer>
    <nav class="navbar navbar-light bg-light">
      <h6 class="display-6 navbar-text">CodEureka, 2021 &copy;. All Rights reserved.</h6>
    </nav>
  </footer>