<!-- Student Id: 301109137
Author: Surya Teja Kandru
COMP229 -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<script>

    

    function GetFormattedDate() {
        
    // var todayTime = new Date();
    // var month = format(todayTime.getMonth() + 1);
    // var day = format(todayTime.getDate());
    // var year = format(todayTime.getFullYear());
    
    var todayTime = new Date();
  var month = todayTime.getMonth() + 1;
  var day = todayTime.getDate();
  var year = todayTime.getFullYear();

    setTimeout(function(){ 
      // alert("5 secoinds");
      document.getElementById("bookingEndDate").value = month + "/" + day + "/" + year;
    }, 5000);

    // document.getElementById("bookingEndDate").value = "2014-02-09";
    // return month + "/" + day + "/" + year;
    }
</script>
<body onload="GetFormattedDate()">