<!-- main_nav.ejs
CarPooling Web App
Project by Team CodEureka
Silviya Velani, Student Id: 301167163
Divya Nair, Student Id: 301169854 
Jashan Preet Singh, Student ID: 301170664
Surya Teja Kandru, Student Id: 301109137 
Aritra Roy, Student ID: 301176508 
Copyright © 2021 Centennial College. All rights reserved. -->

<!-- Main Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
    <a class="navbar-brand" href="/" style="color: #fbb684">
    <img src="/Assets/images/img_carpooling_logo.png" width="40" height="40" alt=""> Car <span style="color: #00c9a4;">Pooling</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active"> <a class="nav-link" href="/home" style="color: #00c9a4"><i class="fas fa-lg fa-laptop-house"></i> Home </a> </li>
        <% } else  { %>
        <li class="nav-item"> <a class="nav-link" href="/home" style="color: #d2d2d2"><i class="fas fa-lg fa-laptop-house"></i> Home </a> </li>
        <% } %>

        <% if (title == "About") { %>
        <li class="nav-item active"> <a class="nav-link" href="/about" style="color: #00c9a4"><i class="fas fa-info-circle"></i> About </a> </li>
        <% } else  { %>
        <li class="nav-item"> <a class="nav-link" href="/about" style="color: #d2d2d2"><i class="fas fa-info-circle"></i> About </a> </li>
        <% } %>

        <% if (title == "Add Ride") { %>
        <li class="nav-item active"> <a class="nav-link" href="/rides/add" style="color: #00c9a4"><i class="fa fa-plus-square"></i> Add Ride </a> </li>
        <% } else  { %>
        <li class="nav-item"> <a class="nav-link" href="/rides/add" style="color: #d2d2d2"><i class="fa fa-plus-square"></i> Add Ride </a> </li>
        <% } %>
          
        <% if (title == "List Ride") { %>
        <li class="nav-item active"> <a class="nav-link" href="/rides" style="color: #00c9a4"><i class="fa fa-car"></i> List Ride </a> </li>
        <% } else  { %>
        <li class="nav-item"> <a class="nav-link" href="/rides" style="color: #d2d2d2"><i class="fa fa-car"></i> List Ride </a> </li>
        <% } %>

        <% if (title == "Contact") { %>
        <li class="nav-item active"> <a class="nav-link" href="/contact" style="color: #00c9a4"><i class="fas fa-address-card"></i> Contact </a> </li>
        <% } else  { %>
        <li class="nav-item"> <a class="nav-link" href="/contact" style="color: #d2d2d2"><i class="fas fa-address-card"></i> Contact </a> </li>
        <% } %>
        <% if (title == "Register") { %>
        <li class="nav-item active"> <a class="nav-link" href="/users/register" style="color: #00c9a4"><i class="fas fa-address-card"></i> Register </a> </li>
        <% } else  { %>
        <li class="nav-item"> <a class="nav-link" href="/users/register" style="color: #d2d2d2"><i class="fas fa-address-card"></i> Register </a> </li>
        <% } %>

        </ul>
        <ul>
          <% if(typeof displayName == 'string' && displayName && displayName != '' ) { %>
          <li class="navbar-text"><i class="fas fa-lg fa-user"></i>Welcome, <%= displayName %></li>
          <li class="nav-item"><a href='/logout' class="nav-link navbar-col ">
            <i class="fas fa-lg fa-sign-out-alt"></i>Logout</a></li>
          <% }else { %>
            <li class="nav-item"> <a href='/users/login' class="a nav-link">
                <i class="fas fa-lg fa-sign-in-alt"></i>Login</a>
            </li>
            <%
            
          } %>
         </ul> 
          
    </div>
  </nav>