<!-- 
about_page.ejs
CarPooling
Created by Silviya Velani on 03/18/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->

<div class="container">
    <h1 class="display-6" style="text-align: center;">About Us</h1>
    <p></p>
    <section id="section2" class="section inner-section2 carpool bckimg">
       <div class="section-content">
            <div class="header_icon" >
                     
            <h1 class ="section-title"> Car Pool</h1>
            <p>We are here to connect people. Our intention is to provide services to people heading in the same direction. Passengers save time and enjoy a hassle-free  ride with ensured safety and comfort 
            while drivers save some money by sharing the cost of the commute.</p>
             
            </div>
        </div>
        </section>
    <p></p>
    <h3><span style="color: #f0500c;">Who we are</span> </h3>

    <p>Mobility is a basic human right of everyone.</p>

    <p>It opens endless opportunities and equal possibilities, no matter where you were born or where you live.</p>
    <p>We are committed to empowering cities, businesses, and people everywhere to enjoy a better quality of life by 
    removing the limitations and barriers of urban mobility.</p>

    <p>Powered by the largest mobility community in the world, we are helping to create cleaner, safer and better cities to live in where mobility will
     become an enabler for people and businesses to discover endless opportunities.</p>
     <p>

    <h3><span style="color: #f0500c;">How we do it</span> </h3>
     
     <p>We help people  everywhere get to their destination in the smoothest way possible, 
     by combining all options for real-time trip planning and payment in one app.</p>

     <p>We provide governments, cities, transit agencies/operators with mobility challenges, with AI-powered mobility solutions covering planning, 
     operations, and analytics, with proven value in reducing congestion, growing ridership, and increasing efficiency and asset utilization – ultimately shifting car drivers to consume public and shared mobility.</p>
     <p>
     We create technology for  around the world to impact their local.</p>
</div>