<!-- 
contact_page.ejs
CarPooling
Created by Silviya Velani on 03/18/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->

<div class="container">
    <h1>Contact us Page</h1>
</div>