<!-- contact_page.ejs
CarPooling Web App
Project by Team CodEureka
Silviya Velani, Student Id: 301167163
Divya Nair, Student Id: 301169854 
Jashan Preet Singh, Student ID: 301170664
Surya Teja Kandru, Student Id: 301109137 
Aritra Roy, Student ID: 301176508 
Copyright © 2021 Centennial College. All rights reserved. -->


<!-- Html section for about me page--> 
  <main class="container" style=" margin: auto; align:center ;" >
      <h1 class="display-4" style="text-align: center;"><b>Contact Us</b></h1>   
      <br><br>
      <!-- contact details section--> 
     <section id="section2" style = "align: center" >
      <div class="hero  d-flex "  style=" height: 800px; width: 900px; align:center;">
        <div class = "contact_det" style= "color:white" >
        <b>Contact Details:</b>
        <br><br>
        <i class="fas fa-lg fa-laptop-house"></i>  Address:<br style= "font-family: arial"> <I>301, Gandhi Street, New Delhi, India</I>
        <br><br>
        <i class="fas fa-mobile-alt"></i>  Phone:<br> <I>+91 89978673/ +91 978786756</I>
        <br><br>
        <i class="fas fa-envelope-open"></i> Email: <br><I> carpoolin.com</I>
        </div>
        <!-- contact form section--> 
        <div class = "contact_mess">
          <p style="text-align: center;font-family: arial; font-size: 25px"><b><I>Send us a message</I></b><br><br>
            <form action="/home">
                  <label for="fname"><b>First name:</label>
                  <input type="text" id="Message" name="fname" value="" size="20" ><br><br>
                  <label for="lname"><b>Last name:</label>
                  <input type="text" id="lname" name="lname" value="" size="20"><br><br>
                  <label for="contactnumber"><b>Contact Number:</label>
                  <input type="text" id="contactnumber" name="contactnumber" value="" size="20"><br><br>
                  <label for="email"><b>Email Id:</label>
                  <input type="text" id="email" name="email" value="" size="20"><br><br>
                  <label for="message"><b>Message:</label><br><br>
                  <textarea rows="4" cols="50" name="message"
                  placeholder="Enter you text here..."></textarea>
                  <br>
                  <input class= "m_btn" type="submit"/>
                  
              </form>
              
    </section>
    
    </div>
  </main>

 