<!-- 
home_page.ejs
CarPooling
Created by Silviya Velani on 03/18/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->

<div class="container" style="padding-top:55px;padding-bottom:55px">
  <div class="row justify-content-center align-items-center">
    <div class="column-66">
        <h2>Too many cars.</h2>
        <h2>So many vacant seats.</h2>
        <h2>Lets start with <span style="color:#00c9a4">Car Pooling.</span></h2>
    </div>
    <div class="column-33">
        <img class="img-block img-fluid" src="/Assets/images/home_carpool.gif" alt="App">
    </div>
  </div>
</div>