<!-- 
home_page.ejs
CarPooling Web App
Project by Team CodEureka
Silviya Velani, Student Id: 301167163
Divya Nair, Student Id: 301169854 
Jashan Preet Singh, Student ID: 301170664
Surya Teja Kandru, Student Id: 301109137 
Aritra Roy, Student ID: 301176508 
Copyright © 2021 Centennial College. All rights reserved. -->

<div class="container" style="padding-top:55px;padding-bottom:55px">
  <div class="row justify-content-center align-items-center">
    <div class="column-66">
        <h2>Too many cars.</h2>
        <h2>So many vacant seats.</h2>
        <h2>Lets start with <span style="color:#00c9a4">Car Pooling</span></h2> <h2>By Team</h2>
        <img class="img-block img-fluid" src="/Assets/images/team-logo.jpeg" alt="Team Logo">
    </div>
    <div class="column-33">
        <img class="img-block img-fluid" src="/Assets/images/home_carpool.gif" alt="App">
    </div>
  </div>
</div>