<!DOCTYPEhtml><htmlxmlns="http://www.w3.org/1999/xhtml">
<head><metacharset="utf-8"/>
    <title><%=loginMessage%></title>
</head>
<body>
    <div class="row">
        <h3>Hello Team </h3>
        <h3> Please create branch from master and checkin to your branch and make changes</h3>
        <h2>let me know if you have anything in folder structure</h2>
        
    </div>
    <form method="post">
        <input type="text"  size="30" placeholder="Enter your username"  name="username"><br/>
        <input type="password"   size="30" placeholder="Enter your password" name="password"><br/>
        <input type="submit" value="Submit" name="submit">
    </form>
    </body>
    </html>